@import './../../styles/index.scss';

.content-list-courses {
  padding: 100px 200px;
  height: 100vh;
  background: $background;
  padding-top: 40px;
}
.content-spiner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
.text-code {
	letter-spacing: 0.1em;
	text-align: center;
	font-size: 2.5rem;
}