@import './../../styles/index.scss';

.content-register {
  padding: 100px 200px;
  // height: 100vh;
  background: $background;
  &-row {
    background: white;
    padding: 40px;
    border-radius: 20px;
    height: 100%;
    -webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.05);
    .ant-picker {
      width: 100%;
    }
		
    .upload-image {
      width: 200px;
      position: relative;
      margin: auto;
      margin-top: 100px;
      margin-bottom: 100px;

      .ant-image-img {
        border-radius: 50%;
        object-fit: contain;
      }

      .ant-image-mask {
        border-radius: 50%;
      }
      button {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        width: 70px;
        height: 70px;
        margin-bottom: -40px;
        border: 2px solid white;
      }
    }
    button {
      min-width: 150px;
    }
  }
}
