@import './../../styles/index.scss';

.content-list {
  margin-top: 20px;
  position: relative;

  .open-item {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .item-list {
    background: #ffffff;
    border: 1px solid #efeff1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;

    img {
      object-fit: cover;
      border-radius: 10px;
    }
    .info-course {
      margin-left: 30px;
			
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      h2 {
        font-weight: bold;
      }
      .ant-image {
        margin-right: 20px;
        img {
          border-radius: 50%;
        }
      }

      .name-teacher {
        font-weight: bold;
        font-size: 14px;
        line-height: 104.51%;
      }

      .content-top {
        display: flex;
        justify-content: space-between;
        button {
          margin-left: 5px;
        }
        .delete-btn {
          background: $danger;
          border-color: $danger !important;
          color: white;
        }
      }
    }


  }
}


p {
  margin: 0px !important;
}

a {
  color: black !important;
}

.text-empty-list {
  text-align: center;
  width: 100%;
  margin-top: 50px !important;
  font-size: 1.5rem;
  color: $primary;
  font-weight: bold;
}

.text-description {
	overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
	min-height: 70px;
}

.text-title {
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;

		
}

.content-margin {
	@media (max-width: 990px) {
		margin-top: 10px;
	}
}