$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;   
$font-segoe-ui: 'Segoe UI', 'Open Sans', sans-serif;

@font-face {
    font-family: "Lato";
    src: url('./../assets/font/Lato-Regular.ttf') format('tff');
}
