@import "./../../styles/index.scss";

.content-create-course {
  padding: 70px 130px 20px;
  min-height: 100vh;
  background: $background;

	@media (max-width: 800px) {
					padding: 20px 20px 20px;
			}
}
.item-list {
  background: #ffffff;
  border: 1px solid #efeff1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.row-item {
  margin-bottom: 20px;
  .input-title-item {
    margin-bottom: 0px !important;
    margin-right: 20px !important;
    flex: 1;
  }
}

.step-selected {
  font-weight: bold;
  .ant-steps-item-container {
    .ant-steps-item-title {
      color: #1890ff !important;
    }
  }
}
