@import './../../styles/index.scss';

.content-create-course {
  padding: 100px 200px 20px;
  min-height: 100vh;
  background: $background;
}
.item-list {
  background: #ffffff;
  border: 1px solid #efeff1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.row-item {
	margin-bottom: 20px;
	.input-title-item{
		margin-bottom: 0px !important;
		margin-right: 20px !important;
		flex: 1;
	}
}
